.*
!.gitignore
!.python-version
ablation/
AD/
glue_BMMC.py
harmony_bmmc.py
*bench.py
scmomat*.py
MOP/

harmony*.py
glue*.py
copy.sh
deprecated/
batch_comparison/
Liger/
midas/
scmomat/
0_download.ps1
harmony_pbmc.py
plot_pbmc_harmony_bench.py
test.py
lung/
MultiVI/
non_norm/
sparsity_exp/
spatialgmi/
uterus/
plot_box.py
plot_new_scattor.py
result/
res/
*result*/  
build/
**/*.egg-info/
**/__pycache__/
*.ipynb
*.png
*.pdf
*.h5mu
plot_total.py
*.sqlite
*.dill
glue/
glue_full/
saved_models/
lightning_logs/
bedtools2/
*.gz
=1.8.0